<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Network.plist
   Mooveeze

   Created by Bill on 10/19/19.
   Copyright (c) 2019 Bill. All rights reserved.
-->
<plist version="1.0">
    <dict>
    <key>remoteClients</key>
    <array>
        <dict>
            <key>client</key>
            <string>MovieDbClient</string>
            <key>scheme</key>
            <string>https</string>
            <key>host</key>
            <string>api.themoviedb.org</string>
        </dict>
        <dict>
            <key>client</key>
            <string>WSClient</string>
            <key>scheme</key>
            <string>ws</string>
            <key>host</key>
            <string>localhost</string>
            <key>port</key>
            <string>9704</string>
        </dict>
    </array>
    <key>requestClientDict</key>
    <dict>
        <key>MovieRequest</key>
        <string>MovieDbClient</string>
        <key>UserAccountRequest</key>
        <string>MovieDbClient</string>
        <key>TestUserRequest</key>
        <string>WSClient</string>
    </dict>
    </dict>
</plist>
